.formNumber input::-webkit-outer-spin-button,
.formNumber input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.formNumber input:focus {
    outline: none;
    background-color: #1e293b;
}

.formNumber input:focus::placeholder {
    color: transparent;
}

@media (max-width: 600px) {
    .table {
        left: 0;
        justify-content: start;
    }
}